[Unit]
Description=LLMOS Install
Documentation=https://github.com/oneblock-ai/llmos
After=sysinit.target
[Service]
Type=oneshot
# input/output to tty as its interactive
# otherwise it will be silent and with no input
StandardInput=tty
StandardOutput=tty
LimitNOFILE=49152
ExecStartPre=-/bin/sh -c "dmesg -D"
TTYPath=/dev/tty1
RemainAfterExit=yes
# Stop systemd messages on tty
ExecStartPre=-/usr/bin/kill -SIGRTMIN+21 1
ExecStart=/usr/bin/llmos install
# Start systemd messages on tty
ExecStartPost=-/usr/bin/kill -SIGRTMIN+20 1
TimeoutStopSec=10s
[Install]
WantedBy=multi-user.target
